body {
    font-family:'Courier New', Courier, monospace;
}

p {
    margin: 0;
    margin-bottom: 10px;
}

#gamescreen {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 410px;
    background-image: url('source/austria.png');
    background-size: 100%;
}

#overview {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 2em;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#general {
    padding: 30px;
    background-color: #0C649C;
    color: white;
    flex-basis: 0;
    flex: 1 1 0px;
}

#trains {
    padding: 30px;
    background-color: #9C9A14;
    color: white;
    width: 50;
    flex-basis: 0;
    flex: 1 1 0px;
}

#train-info {
    display: flex;
    justify-content: space-around;
}

.info-element {
    flex: 1 1 0px;
}

#gamebuttons {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5em;
    color: rgb(201, 201, 201);
}

.button-active {
    color: black;
}

#cancel-selection {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* station css */

.stationsign {
    position:absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: white;
    background-color: #B3182E;
    z-index: 899;
}

.start-station {
    background-color: #21B9FC;
}

.start-station-animation {
    animation-name: pulsating-station;
    animation-iteration-count: 8;
    animation-duration: 900ms;
}

@keyframes pulsating-station {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.0);
    }
}

.active-station {
    background-color: #FCF208;
}

.chosen-station {
    animation-play-state: paused;
    transform: scale(1.5);
}

.station-name {
    position: relative;
    top: -40px;
    right: 40px;
    color: rgb(202, 202, 202);
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: #21B9FC;
    padding: 5px;
    padding-right: 25px;
}

.passenger-info {
    position: relative;
    top: 5px;
    right: 30px;
    background-color: white;
    font-size: 0.9em;
    padding: 5px;
    width: 52px;
}


/* line css */

.line {
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: white;
    background-color: white;
    transform-origin: left;
    z-index: 799;
    /* fade in line */
    animation-name: fade-in;
    animation-iteration-count: 1;
    animation-duration: 500ms;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
    }

/* train css */

.train {
    position: absolute;
    background-image: url('source/train.gif');
    background-size: 100%;
    width: 35px;
    height: 50px;
    z-index: 999;
}

/* train movement */

.move-train-to-b {
    animation:train-movement-to-b 5s;
    --my-start-left-pos: 0;
    --my-start-bottom-pos: 0px;
    --my-end-left-pos: 0;
    --my-end-bottom-pos: 0px;
}

@keyframes train-movement-to-b
    {
    0%   { left: var(--my-start-left-pos); bottom: var(--my-start-bottom-pos); transform:rotate(0deg)}
    100% {left: var(--my-end-left-pos); bottom: var(--my-end-bottom-pos); transform:rotate(0deg)}
    }


/* signs css */

.pickup-sign {
    position: absolute;
    left: 40px;
    bottom: 40px;
    background-image: url('source/pickup.png');
    background-size: 100%;
    width: 35px;
    height: 35px;
    z-index: 999;
    opacity: 0;
}

.show-pickup-sign {
    opacity: 100 !important;
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}


